<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.gdpu.bookshop.mapper.CommentMapper">
  <resultMap id="BaseResultMap" type="edu.gdpu.bookshop.entity.Comment">
    <id column="comment_id" jdbcType="INTEGER" property="commentId" />
    <result column="comment_desc" jdbcType="VARCHAR" property="commentDesc" />
    <result column="comment_level" jdbcType="INTEGER" property="commentLevel" />
    <result column="comment_grade" jdbcType="INTEGER" property="commentGrade" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="book_id" jdbcType="INTEGER" property="bookId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    comment_id, comment_desc, comment_level, comment_grade, user_id, book_id, create_time
  </sql>
  <select id="selectByExample" parameterType="edu.gdpu.bookshop.entity.CommentExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from bs_comment
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from bs_comment
    where comment_id = #{commentId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from bs_comment
    where comment_id = #{commentId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="edu.gdpu.bookshop.entity.CommentExample">
    delete from bs_comment
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="edu.gdpu.bookshop.entity.Comment">
    insert into bs_comment (comment_id, comment_desc, comment_level, 
      comment_grade, user_id, book_id, 
      create_time)
    values (#{commentId,jdbcType=INTEGER}, #{commentDesc,jdbcType=VARCHAR}, #{commentLevel,jdbcType=INTEGER}, 
      #{commentGrade,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{bookId,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="edu.gdpu.bookshop.entity.Comment">
    insert into bs_comment
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="commentId != null">
        comment_id,
      </if>
      <if test="commentDesc != null">
        comment_desc,
      </if>
      <if test="commentLevel != null">
        comment_level,
      </if>
      <if test="commentGrade != null">
        comment_grade,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="bookId != null">
        book_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="commentId != null">
        #{commentId,jdbcType=INTEGER},
      </if>
      <if test="commentDesc != null">
        #{commentDesc,jdbcType=VARCHAR},
      </if>
      <if test="commentLevel != null">
        #{commentLevel,jdbcType=INTEGER},
      </if>
      <if test="commentGrade != null">
        #{commentGrade,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="bookId != null">
        #{bookId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="edu.gdpu.bookshop.entity.CommentExample" resultType="java.lang.Long">
    select count(*) from bs_comment
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update bs_comment
    <set>
      <if test="record.commentId != null">
        comment_id = #{record.commentId,jdbcType=INTEGER},
      </if>
      <if test="record.commentDesc != null">
        comment_desc = #{record.commentDesc,jdbcType=VARCHAR},
      </if>
      <if test="record.commentLevel != null">
        comment_level = #{record.commentLevel,jdbcType=INTEGER},
      </if>
      <if test="record.commentGrade != null">
        comment_grade = #{record.commentGrade,jdbcType=INTEGER},
      </if>
      <if test="record.userId != null">
        user_id = #{record.userId,jdbcType=INTEGER},
      </if>
      <if test="record.bookId != null">
        book_id = #{record.bookId,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update bs_comment
    set comment_id = #{record.commentId,jdbcType=INTEGER},
      comment_desc = #{record.commentDesc,jdbcType=VARCHAR},
      comment_level = #{record.commentLevel,jdbcType=INTEGER},
      comment_grade = #{record.commentGrade,jdbcType=INTEGER},
      user_id = #{record.userId,jdbcType=INTEGER},
      book_id = #{record.bookId,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="edu.gdpu.bookshop.entity.Comment">
    update bs_comment
    <set>
      <if test="commentDesc != null">
        comment_desc = #{commentDesc,jdbcType=VARCHAR},
      </if>
      <if test="commentLevel != null">
        comment_level = #{commentLevel,jdbcType=INTEGER},
      </if>
      <if test="commentGrade != null">
        comment_grade = #{commentGrade,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="bookId != null">
        book_id = #{bookId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where comment_id = #{commentId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="edu.gdpu.bookshop.entity.Comment">
    update bs_comment
    set comment_desc = #{commentDesc,jdbcType=VARCHAR},
      comment_level = #{commentLevel,jdbcType=INTEGER},
      comment_grade = #{commentGrade,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=INTEGER},
      book_id = #{bookId,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where comment_id = #{commentId,jdbcType=INTEGER}
  </update>
</mapper>