<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!-- <link
      rel="stylesheet"
      href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css"
    />
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script> -->
    <link rel="stylesheet" href="bootstrap-4.3.1/css/bootstrap.min.css" />
    <script src="jQuery-3.4.1/jquery-3.4.1.min.js"></script>
    <script src="bootstrap-4.3.1/js/bootstrap.bundle.min.js"></script>
    <script src="bootstrap-4.3.1/js/bootstrap.min.js"></script>

    <title>我的订单</title>
  </head>
  <body>
    <div class="container-fluid">
      <!-- 订单分类栏和搜索栏 -->
      <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <a class="navbar-brand" href="#">我的订单</a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#"
                >全部订单<span class="badge badge-primary">0</span></a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"
                >待付款<span class="badge badge-danger">0</span></a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"
                >待收货<span class="badge badge-info">0</span></a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"
                >待评价<span class="badge badge-success">0</span></a
              >
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input
              class="form-control mr-sm-2"
              type="search"
              placeholder="商品名称/订单号/收货人名称"
              aria-label="搜索"
            />
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
              Search
            </button>
          </form>
        </div>
      </nav>
    </div>
  </body>
</html>
